<style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        * {
        }

        body {
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            font-style: normal;
            font-size: 80%;
            color: #ffffff;
            background: #000000;
            display: grid;
            height: 100px;
            /* border: 2px solid blue; */
            margin: 100px 800px;
        }

        #p_second {
            font-family: "Roboto", sans-serif;
            font-weight: bold;
            font-style: normal;
            font-size: 180%;
        }

        #div_1 {
            margin: 0px;
            /* border: 2px solid #bd2525;
            */
        }

        #img1 {
            width: 50px;
            margin: 10px -60px 130px;
            position: absolute;
        }

        #select_first {
            border: none;
            background-color: black;
            color: #b1b1b1;
            -webkit-appearance: none;
        }

        #select_second {
            border: none;
            background-color: black;
            color: white;
            -webkit-appearance: none;
        }

        button {
            border: 0;
            border-radius: 5px;
            margin-top: 80px;
            margin: 50px -100px;
            height: 60px;
            width: 350px;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
            transition: all 50ms ease;
            color: #ffffff;
            background: #cc0b0b;
        }

        hr {
        border: none;
        height: 1px;
        color: #333;
        background-color: #333;
        }


    </style>